OPENAI_API_KEY="place openaikey here"
DATABASE_URL=""
DB_USER=dan
DB_PASSWORD=dan
DB_HOST=db
DB_PORT=5432
AUTH_SECRET_KEY=""
AUTH_ALGORITHM=HS256
ACCOUNT_SID='twilio account sid'
ACCOUNT_TOKEN='twilio account token'
ACCOUNT_PH='twilio account phone number'
TWILIO_API_KEY='twilio api key here'
TWILIO_API_SECRET='twilio api secret here'
TWILIO_TWIML_APP_SID='twilio app sid here'
SERVER_DOMAIN='your domain starting with http or https'
